# 此为注释– 将被Git 忽略
# /结尾表示是目录，忽略目录和目录下的所有件
# /开头表示根目录，否则是.gitignore的相对目录
# !开头表示反选


*.class

/target/
!.mvn/wrapper/maven-wrapper.jar


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.pwd



### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache



### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/



### VS Code ###
.vscode/



### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

